<!-- start the footer  -->
<footer id=footer>
    <div class="container">
        <div class="row">

            <!-- start last tweet colum -->
            <div class="col-sm-12 col-md-4 text-center text-md-left text-capitalize">
                <h4 class="mb-4">menu</h4>
                <p>about us</p>
                <p>my portfolio</p>
                <p>services</p>
                <p>blog</p>
            </div>
            <!-- end last tweet colum -->

            <hr class="bg-light d-sm-none d-block w-75">

            <!--start instgram colum -->
            <div class="col-sm-12 col-md-4 text-center text-md-left text-capitalize">
                <h4 class="mb-4">follow us</h4>
                <p><i class="fab fa-facebook-square mr-2"></i>facebook</p>
                <p><i class="fab fa-instagram-square mr-2"></i>instgram</p>
                <p><i class="fab fa-twitter-square mr-2"></i>twitter</p>
            </div>
            <!-- end instgram colum -->

            <hr class="bg-light d-sm-none d-block img-fluid w-75">

            <!-- start contact us colum -->
            <div class="col-sm-12 col-md-4 text-xs-center">
                <h4 class="text-center text-md-left mb-4">contact us</h4>
                <a class="text-white" href="/contact">Contact Page</a>
            </div>
            <!-- end contact us colum -->

        </div>
    </div>

</footer>
<!-- end the footer  -->