<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/hospital/bootstrap.min.css">
    <link rel="stylesheet" href="/css/hospital/css/all.css">
    <link rel="stylesheet" href="/css/hospital/animate.min.css">
    <link rel="stylesheet" href="/css/hospital/style.css">
    <title>Hospital</title>
</head>

<body>
    <!--header-->
    <header>
        <div class="container">
            <div class="row  pt-4 pb-3">
                <div class="col-md-6 col-lg-3 ">
                    <a class="navbar-brand brand-1" href="#"><img src="/images/hospital/logo.jpg" alt=""></a>
                </div>
                <div class="col-md-6 col-lg-3 icons">
                    <a href="#"><i class="far fa-clock float-left icon"></i></a>
                    <div class="text">
                        <h6>WORK TIME: 09:00 - 17:00</h6>
                        <p>Saturday and Sunday - CLOSED</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3  icons ">
                    <a href="#"><i class="fas fa-envelope float-left icon"></i></a>
                    <div class="text">
                        <h6>mail us</h6>
                        <p>free@psdfreebies.com</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3  icons ">
                    <a href="#"><i class="fas fa-mobile-alt float-left icon"></i></a>
                    <div class="text">
                        <h6>call us</h6>
                        <p>+123 4567 8900</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <!--navbar-->
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand brand-2" href="#"><img src="/images/hospital/logo.jpg" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav"
                    aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="#" class="nav-link">home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">about</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">gallery</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="social ">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google-plus-g"></i>
                    <i class="fab fa-vk"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-linkedin-in"></i>
                </div>
            </div>
        </nav>
    </header>


    <!--main banner-->
    <section id=main-banner class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-8 col-md-7 col-xl-6">
                    <h1 class="wow fadeIn" data-wow-duration="1s">We have Best Medicare plan
                        options for you</h1>
                    <p class="wow fadeIn" data-wow-duration="1s">Sed ut perspiciatis unde omnis
                        iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                    <button type="button" class="btn btn-primary btn-lg wow fadeIn" data-wow-duration="1s">read
                        more</button>
                </div>
            </div>
        </div>
    </section>

    <!--services-->
    <section id=services>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3 one">
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <img src="/images/hospital/s1.png" alt="#">
                        <div class="text">
                            <h3>Best Treatment</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 two">
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <img src="/images/hospital/s2.png" alt="#">
                        <div class="text">
                            <h3>Emergency Help</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 three">
                    <div class="wow fadeIn" data-wow-duration="1s">
                        <img src="/images/hospital/s3.png" alt="#">
                        <div class="text">
                            <h3>Medical Staff</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 four">
                    <div class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">
                        <img src="/images/hospital/s4.png" alt="#">
                        <div class="text">
                            <h3>Qualified Doctors</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--why choose us-->

    <section id="why">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text">
                    <h1 class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">Why Choose Us ?</h1>
                    <p class="wow fadeIn" data-wow-duration="1s">Sed ut perspiciatis unde omnis
                        iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                </div>
                <div class="row">
                    <div class="col-md-4 why-info wow fadeInUp" data-wow-delay=".5s">
                        <img src="/images/hospital/w1.png" class="float-left" alt="#">
                        <h3>Professional</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium.</p>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4 why-info wow fadeInUp" data-wow-delay=".5s">
                        <img src="/images/hospital/w3.png" class="float-left" alt="#">
                        <h3>Professional</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 why-info wow fadeInUp">
                            <img src="/images/hospital/w2.png" class="float-left" alt="#">
                            <h3>Professional</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.</p>
                        </div>
                        <div class="col-md-4 wow fadeIn" data-wow-duration="1s">
                            <img src="/images/hospital/why.png" class="girl" alt="">
                        </div>
                        <div class="col-md-4 why-info wow fadeInUp">
                            <img src="/images/hospital/w4.png" class="float-left" alt="#">
                            <h3>Professional</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--best features-->
    <section id=features>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3 best wow fadeIn" data-wow-duration="1s">
                    <img src="/images/hospital/b1.png" alt="#">
                    <h1 class="count-1"><span>1000</span>+</h1>
                    <hr class="hr-1">
                    <h4>Happy Customers</h4>
                </div>
                <div class="col-md-6 col-lg-3 best wow fadeIn" data-wow-duration="1s">
                    <img src="/images/hospital/b2.png" alt="#">
                    <h1 class="count-1"><span>2017</span></h1>
                    <hr class="hr-1">
                    <h4>Top Hospitality</h4>
                </div>
                <div class="col-md-6 col-lg-3 best wow fadeIn" data-wow-duration="1s">
                    <img src="/images/hospital/b3.png" alt="#">
                    <h1 class="count-1"><span>1105</span></h1>
                    <hr class="hr-1">
                    <h4>Innovative Approach</h4>
                </div>
                <div class="col-md-6 col-lg-3 best wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">
                    <img src="/images/hospital/b4.png" alt="#">
                    <h1 class="count-1"><span>500</span>+</h1>
                    <hr class="hr-1">
                    <h4>Lung Replacement</h4>
                </div>
            </div>
        </div>
    </section>

    <!--text area-->
    <section id="text-area">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-8">
                    <h1 class="wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">How we works</h1>
                    <p class="wow fadeIn" data-wow-duration="1s">Sed ut perspiciatis unde omnis
                        iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis
                        iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h1 class="wow fadeIn" data-wow-delay=".5s">Our creative</h1>
                    <p class="wow fadeIn">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem</p>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <img src="/images/hospital/area1.jpg" alt="#">
                    <h5>Lorem ipsum dolor sit amet,</h5>
                    <span>April 19, 2017 | Dr. Jon Doe</span>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn">
                    <img src="/images/hospital/area2.jpg" alt="#">
                    <h5>Lorem ipsum dolor sit amet,</h5>
                    <span>April 19, 2017 | Dr. Jon Doe</span>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <div class="acordion active">
                        <i class="fas fa-caret-right"></i>
                        <h4>Heart Treatment</h4>
                    </div>
                    <p class="hide">Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium
                        doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium.</p>
                    <div class="acordion">
                        <i class="fas fa-caret-right"></i>
                        <h4>Heart Treatment</h4>
                    </div>
                    <p class="hide">Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium
                        doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium.</p>
                    <div class="acordion">
                        <i class="fas fa-caret-right"></i>
                        <h4>Heart Treatment</h4>
                    </div>
                    <p class="hide">Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium
                        doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium.</p>
                    <div class="acordion">
                        <i class="fas fa-caret-right"></i>
                        <h4>Heart Treatment</h4>
                    </div>
                    <p class="hide">Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium
                        doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium.</p>
                </div>
                <button type=button class="btn btn-primary btn-lg wow fadeIn">read more</button>
            </div>
        </div>
    </section>

    <!--gallery-->
    <section id=gallery>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12 pb-4">
                    <h1 class="wow fadeIn">Gallery</h1>
                    <p class="wow fadeIn">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.</p>
                </div>
                <div class="col-md-4">
                    <img class="wow zoomIn" src="/images/hospital/g1.jpg" alt="#" data-wow-duration="1s">
                </div>
                <div class="col-md-4">
                    <img class="wow zoomIn" src="/images/hospital/g2.jpg" alt="#" data-wow-duration="1s">
                </div>
                <div class="col-md-4">
                    <img class="wow zoomIn" src="/images/hospital/g3.jpg" alt="#" data-wow-duration="1s">
                </div>
                <div class="col-md-4">
                    <img class="wow zoomIn" src="/images/hospital/g4.jpg" alt="#" data-wow-duration="1s">
                </div>
                <div class="col-md-4">
                    <img class="wow zoomIn" src="/images/hospital/g5.jpg" alt="#" data-wow-duration="1s">
                </div>
                <div class="col-md-4">
                    <img class="wow zoomIn" src="/images/hospital/g6.jpg" alt="#" data-wow-duration="1s">
                </div>
            </div>
        </div>
    </section>

    <!--our doctor-->
    <section id=team>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pb-5">
                    <h1 class="wow fadeIn" data-wow-delay=".5s">Our Team</h1>
                    <p class="wow fadeIn">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                    <img src="/images/hospital/d1.jpg" class="rounded-circle" alt="#">
                    <h3>Dr Ricky Doe</h3>
                    <span>Assistant Surgeon</span>
                    <div class=social>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-vk"></i>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                    <img src="/images/hospital/d2.jpg" class="rounded-circle" alt="#">
                    <h3>Dr Ricky Doe</h3>
                    <span>Assistant Surgeon</span>
                    <div class=social>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-vk"></i>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                    <img src="/images/hospital/d3.jpg" class="rounded-circle" alt="#">
                    <h3>Dr Ricky Doe</h3>
                    <span>Assistant Surgeon</span>
                    <div class=social>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-vk"></i>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-duration="1s">
                    <img src="/images/hospital/d4.jpg" class="rounded-circle" alt="#">
                    <h3>Dr Ricky Doe</h3>
                    <span>Assistant Surgeon</span>
                    <div class=social>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-vk"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--quick action bar-->
    <section id=quick>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow fadeIn" data-wow-duration="1s">New Patient Special Offer Complimentary Consultation
                    </h2>
                    <button type=button class="btn btn-primary btn-lg wow fadeInUp">read
                        more</button>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer>
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-lg-3 get-in wow fadeIn" data-wow-duration="1s">
                    <h4>Get in Touch</h4>
                    <div class="touch">
                        <i class="far fa-envelope float-left icon"></i>
                        <p>free@psdfreebies.com</p>
                        <p>free@psdfreebies.com</p>
                    </div>
                    <div class="touch">
                        <i class="fas fa-mobile-alt float-left icon"></i>
                        <p>+123 456 7890</p>
                        <p>+123 456 7890</p>
                    </div>
                    <div class="touch">
                        <i class="fas fa-map-marked-alt float-left icon"></i>
                        <p>123, Main Road, New City,</p>
                        <p>My Country 123456</p>
                    </div>
                    <div class=social>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-vk"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 quick wow fadeIn" data-wow-duration="1s">
                    <h4>Quick Links</h4>
                    <a href="#"><i class="fas fa-caret-right"></i>About us</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Blog</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Contact us</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Faq</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Insurance</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Contact us</a>
                </div>
                <div class="col-md-6 col-lg-3 quick wow fadeIn" data-wow-duration="1s">
                    <h4>Our Services</h4>
                    <a href="#"><i class="fas fa-caret-right"></i>Work Injuries</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Sport Injuries</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Cold Laser Therpay</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Massage Therpay</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Physiotherapy</a>
                    <a href="#"><i class="fas fa-caret-right"></i>Chirporatic Therapy</a>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-duration="1s">
                    <h4>Enquiry Form</h4>
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone">
                        <input type="text" placeholder="Message">
                    </form>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </footer>

    <!--    copyright section-->
    <section class="copyright pt-5 pb-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p>Copyright © 2017. PSDFreebies.com | Made By : Yahya .M Web Developer</p>
                </div>
            </div>
        </div>
    </section>


    <!-- scripts js -->
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <script src="/js/hospital/jquery-3.3.1.min.js"></script>
    <script src="/js/hospital/bootstrap.min.js"></script>
    <script src="/js/hospital/popper.min.js"></script>
    <script src="/js/hospital/jquery.waypoints.min.js"></script>
    <script src="/js/hospital/jquery.counterup.min.js"></script>
    <script src="/js/hospital/wow.min.js"></script>
    <script src="/js/hospital/main.js"></script>
    <!-- scripts js -->
</body>

</html>