<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" href="#"> -->
    <!-- font awesome libirary -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!--bootstrap 4.5 CSS only -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <!-- google fonts -->

    <!-- main stylesheet -->
    <link rel="stylesheet" href="/css/portfolio-styles.css?cb=1607968271019">
    <title>Start-Project</title>
</head>

<body>
    <!-- start header section -->
    <header>
        <!-- start navbar -->
        <nav>
            <a class="logo" href="#"><span>P</span>ortfolio</a>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="#portfolio">work</a></li>
                <li><a href="#cnt">blog</a></li>
                <li><a class="button" href='#about'>Hire Me!</a></li>
            </ul>
        </nav>
    </header>

    <!-- start banner-->
    <section id='home-banner'>

        <!-- banner img -->
        <div class='banner-img'>
            <img src="/images/portfolio/header-img.png" alt="header">
        </div>

        <!-- banner title -->
        <div class='title'>
            <h4>Hello, I’m Yahya</h4>
            <h1>Expert in Front-End <span>Web & Development </span></h1>
            <p>
                Currently available for working on projects, collaborations
                <span> Work with the team on project </span>
                <span>Making Responsive Pixel perfect website</span>
                <span>Fixing Css issues in website</span>
            </p>
            <a class='button button-blue' href="#portfolio">See My work</a>
        </div>
    </section>

    <!-- start services section -->
    <section id='about'>

        <div class="section-title">
            <h1 class='opacity-title'>services</h1>
            <h2 class='visible-title'>services</h2>
        </div>


        <div class="container">

            <!-- about-box 1 -->
            <div class="about-box">
                <!-- <img src="/images/portfolio/icon1.png" alt="#"> -->
                <i class="fas fa-fill-drip icon"></i>
                <h4>web design</h4>
                <hr>
                <p>Well we're movin' on up to the east side. To a deluxe apartment in the sky.</p>
            </div>

            <!-- about-box 2 -->
            <div class="about-box">
                <!-- <img src="/images/portfolio/icon2.png" alt="#"> -->
                <i class="fab fa-sketch icon"></i>
                <h4>mobile app</h4>
                <hr>
                <p>Tracking immunizations has never been easier or more secure...</p>
            </div>

            <!-- about-box 3 -->
            <div class="about-box">
                <!-- <img src="/images/portfolio/icon3.png" alt="#"> -->
                <i class="fas fa-magic icon"></i>
                <h4>branding</h4>
                <hr>
                <p>Well we're movin' on up to the east side. To a deluxe apartment in the sky.</p>
            </div>
        </div>

    </section>

    <!-- start portfolio section -->
    <section id='portfolio'>

        <div class="section-title">
            <h1 class='opacity-title'>portfolio</h1>
            <h2 class='visible-title'>portfolio</h2>
        </div>

        <div class="container content-center">

            <!-- gallery 1 -->
            <div class="port-gallery">
                <img src="/images/portfolio/portfolio-1.png" alt="#">
            </div>

            <!-- gallery 2 -->
            <div class="port-gallery">
                <img src="/images/portfolio/portfolio-2.png" alt="#">
            </div>

            <!-- gallery 3 -->
            <div class="port-gallery">
                <img src="/images/portfolio/portfolio-3.png" alt="#">
            </div>

            <!-- gallery 4 -->
            <div class="port-gallery">
                <img src="/images/portfolio/portfolio-4.png" alt="#">
            </div>

            <!-- gallery 5 -->
            <div class="port-gallery">
                <img src="/images/portfolio/portfolio-5.png" alt="#">
            </div>

            <!-- gallery 6 -->
            <div class="port-gallery">
                <img src="/images/portfolio/portfolio-6.png" alt="#">
            </div>
        </div>
    </section>

    <!-- start cnt section -->
    <article id='cnt'>
        <!-- awesome text box -->
        <div class="container nowrap">
            <div class="flex-2">
                <h1>Make It Awesome!</h1>
                <p>There's nothing we wont try. Never heard the word impossible. This time there's no stopping us. The
                    year is 1987 and NASA launches the last of Americas deep space probes.</p>
            </div>

            <!-- hire me button -->
            <div class="flex-1 content-center align-center">
                <button class='button'>Hire Me Now!</button>
            </div>
        </div>
    </article>

    <!-- start testimonials -->
    <section id='testimonials'>

        <div class="container column">
            <div class="title">
                <h1>What clients
                    <span>Feedback about me</span>
                </h1>
            </div>
        </div>
        <div class="clients">
            <!-- first client -->
            <div class='client display-none'>
                <!-- clients box -->
                <figure class="client-box">
                    <div class="circle-div">
                        <img src="/images/portfolio/client-1.png" alt="Client">
                    </div>
                    <h4>Allen Bell</h4>
                    <figcaption>Ux Designer</figcaption>
                </figure>
                <p>Fleeing from the Cylon tyranny the last Battlestar – Galactica - leads a rag-tag fugitive fleet on a
                    lonely quest - a shining planet known as Earth? Texas tea.Its mission - to explore strange new
                    worlds to
                    seek out new life and new civilizations to boldly go where no man has gone before. Doin' it our way.
                </p>
            </div>

            <div class='client'>
                <!-- clients box -->
                <figure class="client-box">
                    <div class="circle-div">
                        <img src="/images/portfolio/client-1.png" alt="Client">
                    </div>
                    <h4>Bell</h4>
                    <figcaption>Web Developer</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore architecto dolorum sed maxime
                    alias
                    voluptatibus consectetur rerum possimus quas necessitatibus et voluptatem nulla obcaecati voluptate
                    reiciendis, aspernatur accusantium, hic fuga?.</p>
            </div>

            <div class='client display-none'>
                <!-- clients box -->
                <figure class="client-box">
                    <div class="circle-div">
                        <img src="/images/portfolio/portfolio/client-1.png" alt="Client">
                    </div>
                    <h4>Allen</h4>
                    <figcaption>Backend Developer</figcaption>
                </figure>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga corrupti error, velit atque provident
                    nemo
                    voluptatem sapiente nobis, dolores ipsa eos iusto itaque maxime iste possimus cupiditate inventore
                    rerum
                    optio?.</p>
            </div>
            <!-- Next/prev buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>


        <!-- bullets -->
        <div class="bullets">
            <ul>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
        </div>
    </section>

    <!-- start footer -->
    <footer>
        <div class="container column align-center">
            <!-- nav list -->
            <div class="footer-nav">
                <ul>
                    <li><a href="#home-banner">home</a></li>
                    <li><a href="#about">about me</a></li>
                    <li><a href="#portfolio">work</a></li>
                    <li><a href="#cnt">blog</a></li>
                    <li>
                        <input class="search-box" type="text" placeholder="Search...">
                        <i class="fas fa-search"></i>
                    </li>
                </ul>
            </div>
            <!-- social media links -->
            <div class="footer-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>

        </div>
        <!-- copyrights -->
        <hr>
        <p class='copyrights'>Copyright &copy; 2020. Portfolio By Yahya Web-Developer</p>
    </footer>


    <script src='/js/portfolio.js?cb=1607968271019' defer></script>
</body>

</html>