<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

    <!-- start contact us colum -->
    <div class="container min-height">
        <div class="row d-flex justify-content-center my-5">
            <div class="col-sm-12 col-md-6 text-xs-center py-5">
                <h4 class="text-center mb-4 text-dark">Contact Us</h4>
                <form id="contact-us">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name:" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Email:" required>
                        <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="text" rows="3" placeholder="Message:" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- end contact us colum -->


    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scripts.ejs') %>

</body>

</html>