<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

    <!--start our services -->
    <section id='our-services'>
        <div class="container my-5 pt-3">
            <div class="row py-4">
                <!-- services heading and pargraph -->
                <div class="col-12 d-md-block d-lg-flex justify-content-between mt-4 mb-5 text-center">
                    <h3 class="muted-heading">our services</h3>
                    <p class="shrink-paragraph text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                        qui nisi
                        porro? Magni, illo minus est
                        ducimus quam ratione quae</p>
                </div>

                <!-- sevices content -->
                <div class="col-12">
                    <div class="row services-imgs">
                        <div class="col-12 col-md-4">
                            <img src="/images/service-display.png" alt="#">
                            <h4>flat design</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque reprehenderit eligendi
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="/images/bulb.png" alt="#">
                            <h4>great ideas</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque reprehenderit eligendi
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="/images/browser-compatbilty.png" alt="#">
                            <h4>browser compatbilty</h4>
                            <p>Lorem ipsum doslor, sit amset consectetur adipisicing elit. Eaque reprehenderit eligendi
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end our services -->

    <%- include('./partials/footer.ejs') %>

    <%- include('./partials/scripts.ejs') %>

</body>

</html>